.outer {
    text-align: center;

    padding: 0.5% 10%;
    margin: 2%;
    font-family: 'Andika New Basic', sans-serif;
}

#input {
    padding: 1%;
    margin: 1% auto;
    width: 70%;
    border: 1px solid rgba(211, 211, 211, 0.966);
    border-radius: 20px;
    outline: none;
    box-shadow: 0 2px 5px orange;
}

#info {

    padding: 2% 11%;
    margin: 2%;
    text-align: justify;

}